{
    "Grażyna Nosacz": (
        name: "Grażyna",
        surname: "Nosacz",
        country: "Polska",
        city: "Warszawa",
        address: "Wiejska 1/2",
        phone: "213-123-635",
        email: "mary@onet.pl",
    ),
    "Jan Kowalewski": (
        name: "Jan",
        surname: "Kowalewski",
        country: "Polska",
        city: "Wrocław",
        address: "Kwiatowa 1/2",
        phone: "123-123-123",
        email: "janusz@corp.pl",
    ),
    "Jan Kowalowski": (
        name: "Jan",
        surname: "Kowalowski",
        country: "Polska",
        city: "Wrocław",
        address: "Zielińskiego 45/6",
        phone: "657-567-545",
        email: "jan@wp.pl",
    ),
    "Jan Ryś": (
        name: "Jan",
        surname: "Ryś",
        country: "Polska",
        city: "Warszawa",
        address: "Kwiatowa 1/8",
        phone: "631-742-236",
        email: "rys@gov.pl",
    ),
    "Janusz Nosacz": (
        name: "Janusz",
        surname: "Nosacz",
        country: "Polska",
        city: "Wrocław",
        address: "Chopena 1/24",
        phone: "467-375-345",
        email: "januszex@wp.pl",
    ),
    "Anna Królikowska": (
        name: "Anna",
        surname: "Królikowska",
        country: "Polska",
        city: "Warszawa",
        address: "Wiejska 1/2",
        phone: "213-123-635",
        email: "mary@onet.pl",
    ),
    "Janina Kowalska": (
        name: "Janina",
        surname: "Kowalska",
        country: "Polska",
        city: "Warszawa",
        address: "Wiejska 1/2",
        phone: "213-123-635",
        email: "mary@onet.pl",
    ),
    "Jan Nowakowski": (
        name: "Jan",
        surname: "Nowakowski",
        country: "Polska",
        city: "Wrocław",
        address: "Kwiatowa 1/2",
        phone: "123-123-123",
        email: "Janusz@wp.pl",
    ),
    "Jan Zieliński": (
        name: "Jan",
        surname: "Zieliński",
        country: "Polska",
        city: "Wrocław",
        address: "Kwiatowa 1/2",
        phone: "564-346-345",
        email: "ziel@wp.pl",
    ),
    "Ania Dyź": (
        name: "Ania",
        surname: "Dyź",
        country: "Polska",
        city: "Warszawa",
        address: "Wiejska 1/2",
        phone: "213-123-635",
        email: "mary@onet.pl",
    ),
    "Adam Nowacki": (
        name: "Adam",
        surname: "Nowacki",
        country: "Polska",
        city: "Gdańsk",
        address: "Klonowa 6/7",
        phone: "123-123-123",
        email: "klon1@op.pl",
    ),
    "Marlena Kowalska": (
        name: "Marlena",
        surname: "Kowalska",
        country: "Polska",
        city: "Warszawa",
        address: "Wiejska 1/2",
        phone: "213-123-635",
        email: "mary@onet.pl",
    ),
}